body
{
    background-color: #e5e5f7;
    background-image:linear-gradient(#c5c5c5 2px,
                                       transparent 2px),
                     linear-gradient(90deg,
                                   #c5c5c5 2px,
                                     transparent 2px),
                     linear-gradient(#c5c5c5 1px,
                                     transparent 1px),
                     linear-gradient(90deg,
                                   #c5c5c5 1px,
                                   #e5e5e5 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

div.msgbox
{
    opacity: 0.7;
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 12pt;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    filter: drop-shadow(30px 30px 10px grey);
}

div.msgbox-title
{
    background-color: darkred;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 1ch;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 2px;
}

div.msgbox-body
{
    width: 33ch;
    padding: .5ch 3ch 3ch 3ch;
}

p.msg-title
{
    font-size: 24pt;
    text-align: center;
    /*text-transform: uppercase;*/
}

p.msg-para
{
    text-indent: 2ch;
}